[flake8]
# Максимальная длина строки (PEP8 рекомендует 79, black — 88)
max-line-length = 88

# Каталоги и файлы, которые flake8 будет игнорировать
exclude =
    .git,
    __pycache__,
    migrations,
    env,
    venv,
    static,
    media

# По желанию отключить “мелкие” ошибки
# E203, W503 — часто конфликты с black
ignore =
    E203,
    W503

# Включить плагины (если ставили)
# Для django: flake8-django
# Для импортов: flake8-import-order
# select = C,E,F,W,B,D
